@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';

@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fthin;
  line-height: $base-line-height;

  min-width: 320px;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  height: 120px;

  background-color: #fff;
  .logo {
    position: absolute;
    z-index: 10;

    display: block;

    padding-top: 15px;

    text-align: center;
    img {
      float: none;

      max-width: 100%;
    }
  }
  .cotacts-left,
  .phone-block,
  .order-block {
    padding-top: 22px;
  }
  .phone-block {
    text-align: right;
  }
  .order-block {
    padding-right: 0;
    //padding-left: 0;
  }
}
nav {
  ul {
    height: 100%;

    @extend .justify-child;
    @extend .clearfix;
    li {
      font-size: 13px;

      display: inline-block;

      height: 100%;
      a {
        position: relative;

        display: inline-block;

        margin: 0 21px;
      }
      &:last-child {
        a {
          margin-right: 0;
        }
      }
      &:first-child {
        a {
          margin-left: 0;
        }
      }
      &.current-menu-item {
        a {
          &:before {
            position: absolute;

            content: '';
          }
        }
      }
    }
  }
  .headnav {
    //font-size: 100%;
  }
}

section {
  padding: 128px 0 0 0;

  background: url(../img/page-top-bg.jpg) no-repeat center -120px;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

.home {
  section {
    padding-top: 0;

    background: none;
  }
}
.home__slide {
  height: 500px;
  padding-top: 122px;

  text-align: center;

  background: url(../img/header-bg.jpg) no-repeat center -120px;
  .slide-title {
    font-size: 50px;

    display: block;

    text-align: center;
    text-transform: uppercase;

    color: $blue;
  }
  .slide-slogan {
    font-size: 20px;

    display: block;
  }
  .blue_button {
    height: 45px;
  }
}




footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $gray-light;
}

@media (max-width: 1200px) {
  header {
    height: auto;
    .logo {
      position: relative;
    }
  }
}
