@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'owl.carousel';
@import 'owl.theme.default';
//@import 'grid/bootstrap';
//@import 'grid/bootstrap-theme';
@import 'fonts/font_fontawesome';
@import 'fonts/font_opensans_light';
@import 'fonts/font_opensans';
//@import 'super_sprite';
//@import 'base64';
//@import 'import/print';
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-style: normal;
  line-height: $base-line-height;

  min-width: 320px;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;

  text-transform: uppercase;

  color: $blue;
}

p,
pre {
  margin: 0 0 $small-spacing;
}

a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}

hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}

img,
picture {
  max-width: 100%;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.wrapper {
  position: relative;

  width: 100%;
  max-width: 2000px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}

.container {
  position: relative;

  width: $width;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}
section {
  padding: 128px 0 0 0;

  background: url(../img/page-top-bg.jpg) no-repeat center -120px;
}



.looper {
  @extend .clearfix;
}

.home {
  section {
    padding-top: 0;

    background: none;
    article {
      float: none;

      width: 100%;
      padding-left: 0;
    }
  }
}

article {
  float: right;

  width: 77.5%;
  padding-left: 30px;

  @extend .clearfix;
}




header {
  height: 120px;

  background-color: #fff;
  .logo {
    display: inline-block;
    float: left;

    width: 24%;
    margin-bottom: -19px;
    padding-top: 15px;

    text-align: center;
    img {
      float: none;

      max-width: 100%;
    }
  }
  .contacts-left,
  .contacts-right {
    display: inline-block;
    float: left;

    width: 38%;
    padding-top: 22px;
  }
  .phone-block {
    float: left;

    width: calc(100% - 160px);
    margin: auto 0 auto auto;
    padding: 0 10px 0 0;

    text-align: right;
    a {
      display: inline-block;

      width: 100%;
    }
  }
  .order-block {
    float: left;

    width: 160px;
    margin: 0;

    text-align: right;
    //padding: 0 0 0 10px;
  }
  .contacts-left {
    .adress,
    .mail {
      font-size: 13px;

      position: relative;

      display: inline-block;
      float: none;

      padding-left: 30px;

      color: $head-text-color;
      &:before {
        position: absolute;
        bottom: 0;
        left: 2px;

        display: inline-block;

        width: 15px;
        height: 15px;

        content: '';

        border-radius: 50%;
      }
    }
    .adress {
      margin-bottom: 8px;
      &:before {
        background: url('../img/header-map.png') no-repeat center center;
      }
    }
    .mail {
      &:before {
        background: url('../img/header-mail.png') no-repeat center center;
      }
    }
  }
  .contacts-right {
    .phone-link {
      font-size: 18px;
      font-weight: bold;

      position: relative;

      display: inline;
      float: none;

      padding-left: 30px;
      span {
        color: $head-menu-color;
      }
      &:before {
        position: absolute;
        bottom: 4px;
        left: 2px;

        display: inline-block;

        width: 15px;
        height: 15px;

        content: '';

        border-radius: 50%;
        background: url('../img/header-phone.png') no-repeat center center;
      }
    }
    .phone-calback {
      font-size: 12px;

      display: inline;

      white-space: nowrap;

      border-bottom: 1px dashed $blue;
    }
  }
}


/* MAIN MENU */
nav {
  display: inline-block;

  width: 100%;
  ul {
    height: 100%;

    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
  .headnav {
    display: inline-block;
    //width: 100%;
    li {
      font-size: 13px;

      display: inline-block;
      float: left;

      height: 100%;
      margin: 0 20px;
      a {
        font-weight: bold;

        position: relative;

        display: inline-block;

        padding-bottom: 24px;

        color: $head-menu-color;
        &:hover {
          &:before {
            background: $blue;
          }
        }
        &:before {
          position: absolute;
          bottom: 1px;

          width: 100%;
          height: 2px;

          content: '';

          background: transparent;
        }
      }
      &:last-child {
        margin-right: 5px;
      }
      &:first-child {
        margin-left: 5px;
      }
      &.current-menu-item {
        a {
          &:before {
            background: $blue;
          }
        }
      }
      .sub-menu {
        position: absolute;
        //z-index: 10;
        top: 35px;

        display: none;

        width: auto;
        height: 0;
        padding: 5px 0 7px 0;

        color: #fff;
        border-top: 2px solid #2977ab;
        background: $blue;
        li {
          //display: block;
          display: block;

          width: 100%;
          margin: 0 0 -1px;
          padding: 0 15px;

          white-space: nowrap;
          //background: $blue;
          a {
            display: block;

            width: 100%;
            margin: 0;
            padding: 8px 0 9px 21px;

            border-collapse: collapse;

            color: #fff;
            border-bottom: 1px solid lighten($blue, 15%);
            //background: $blue;
            &:before {
              display: none;
            }
          }
          &:before {
            position: absolute;
            bottom: 12px;
            left: 20px;

            width: 5px;
            height: 5px;

            content: '';

            background: #fff;
          }
          &:last-child {
            a {
              border-bottom: none;
            }
          }
          &:hover {
            background: lighten($blue, 15%);
          }
        }
      }
      &:hover {
        .sub-menu {
          z-index: 10;

          display: inline-block;

          height: auto;
        }
        &.menu-item-has-children {
          &:after {
            position: absolute;
            z-index: 1;
            bottom: -4px;
            left: 16px;

            width: 10px;
            height: 10px;

            content: '';
            transform: rotate(45deg);

            background: #2977ab;
          }
          a {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
  .headnav-right {
    float: right;
    li {
      margin: 0 26px;
    }
  }
}



.home__slide {
  height: 500px;
  padding-top: 110px;

  text-align: center;

  background: url(../img/header-bg.jpg) no-repeat center -120px;
  .slide-title {
    font-size: 69px;
    font-weight: normal;
    line-height: 1;

    position: relative;

    display: inline-block;
    float: none;

    margin-bottom: 48px;

    text-align: center;
    text-transform: uppercase;

    color: $blue;
    &:before {
      font-family: $base-font-family;
      font-size: 13px;
      font-weight: 700;

      position: absolute;
      top: -8px;
      right: 131px;

      padding: 0 1px 1px 1px;

      content: 'M';

      color: $blue;
      border: 1px dashed $blue;
      border-radius: 3px;
      background: transparent;
    }
    &:after {
      position: absolute;
      bottom: -24px;
      left: calc(50% - 43px);

      display: inline-block;

      width: 86px;
      height: 1px;
      padding: 0;

      content: ' ';

      background: $blue;
    }
  }
  .slide-slogan {
    font-size: 19px;

    display: block;

    margin-bottom: 37px;
  }
  .blue_button {
    height: 44px;
    padding-top: 15px;
  }
}

footer {
  //height: 493px;
  padding-top: 20px;
  .container {
    z-index: 1;
  }
  .order-form {
    position: relative;

    width: 100%;
    height: 132px;
    padding-top: 49px;

    background: $blue;
    &:after,
    &:before {
      position: absolute;
      z-index: 0;
      //top: -8px;
      left: 0;

      display: block;

      width: 100%;
      height: 16px;

      content: '';

      background: url(../img/white-romb.png) repeat-x 0 center;
    }
    &:after {
      bottom: -8px;
    }
    &:before {
      top: -8px;
    }
    .order-title {
      font-size: 50px;
      line-height: 1;

      position: relative;

      display: inline-block;
      float: left;

      margin: -10px 32px 0 70px;

      text-transform: uppercase;

      color: #fff;
      &:before {
        position: absolute;
        top: 8px;
        left: -69px;

        display: block;

        width: 50px;
        height: 40px;

        content: '';

        background: url(../img/cont-order.png) no-repeat center center;
      }
    }
  }
  .partners {
    height: 235px;
  }
  .footer-bottom {
    position: relative;
    bottom: 0;

    width: 100%;
    height: 126px;
    padding-top: 30px;

    background: url(../img/footer-bg.jpg) no-repeat center bottom;
    &:before {
      position: absolute;
      top: -8px;
      left: 0;

      display: block;

      width: 100%;
      height: 16px;

      content: '';

      background: url(../img/white-romb.png) repeat-x 0 center;
    }
    .footer-logo,
    .footer-contacts-center,
    .footer-contacts-right {
      display: inline-block;
      float: left;
    }
    .footer-logo {
      width: 235px;

      text-align: left;
    }
    .footer-contacts-center {
      width: 300px;
      margin: 0 95px 0 0;
      padding: 14px 0 0 20px;
      .adress,
      .mail {
        font-size: 12.5px;
        font-weight: 600;

        position: relative;

        display: inline-block;
        float: none;

        padding-left: 30px;

        color: #fff;
        &:before {
          position: absolute;
          bottom: 0;
          left: 2px;

          display: inline-block;

          width: 15px;
          height: 15px;

          content: '';

          border-radius: 50%;
        }
      }
      .adress {
        margin-bottom: 8px;
        &:before {
          background: url('../img/footer-map.png') no-repeat center center;
        }
      }
      .mail {
        &:before {
          background: url('../img/footer-mail.png') no-repeat center center;
        }
      }
    }
    .footer-contacts-right {
      width: 200px;
      padding-top: 14px;

      text-align: right;
      .phone-link {
        font-size: 18px;
        font-weight: bold;

        position: relative;

        display: inline;
        float: none;

        padding-left: 30px;

        color: #fff;
        span {
          color: #fff;
        }
        &:before {
          position: absolute;
          bottom: 4px;
          left: 2px;

          display: inline-block;

          width: 15px;
          height: 15px;

          content: '';

          border-radius: 50%;
          background: url('../img/footer-phone.png') no-repeat center center;
        }
      }
      .phone-calback {
        font-size: 12px;
        line-height: 1.3;

        display: inline-block;

        text-align: right;
        white-space: nowrap;

        color: #fff;
        border-bottom: 1px dashed #fff;
      }
    }
    .a1-logo {
      float: right;

      width: 140px;
      //height: 28px;
      margin: 17px 0 0 0;

      text-align: left;

      color: #fff;
      span {
        font-size: 12px;
        line-height: 1.2;

        display: inline-block;

        width: 97px;
        margin: 0;
        padding: 0 0 0 5px;

        text-align: left;
      }
    }
  }
}

#partner-slider {
  .item,
  a {
    line-height: 235px;
    img {
      display: inline-block;

      max-width: 100%;
      max-height: 100%;

      vertical-align: middle;
    }
  }
}

.owl-nav {
  position: absolute;
  z-index: 99;
  bottom: calc(50% - 10px);
  //display: block;

  width: 100%;
  height: 0;
  .owl-prev,
  .owl-next {
    position: absolute;

    width: 10px;
    height: 30px;
    &.disabled {
      display: none;
    }
    &:before {
      font-family: 'FontAwesome';
      font-size: 50px;

      color: $blue;
    }
  }
  .owl-prev {
    left: -10px;
    &:before {
      content: '\f053';
    }
  }
  .owl-next {
    right: -10px;
    &:before {
      content: '\f054';
    }
  }
}

//SIDEBAR
aside {
  float: left;

  width: 22.5%;
  .more-link {
    font-weight: 600;

    text-decoration: underline;
  }
  h5 {
    font-size: 28px;

    margin-bottom: 25px;
  }
  .widget {
    margin-bottom: 30px;
  }
}

.widget_nav_menu {
  position: relative;

  overflow: hidden;

  box-sizing: border-block;
  padding: 0;

  text-align: left;

  border-radius: 5px;
  background: $blue;
  &:after {
    position: absolute;
    //width: calc(100% - 2px);
    //height: calc(100% - 2px);
    z-index: 1;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    content: '';

    border: 1px dashed #fff;
    border-radius: 4px;
    background: transparent;
  }
  &:before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;

    width: 5px;

    content: '';

    background: rgba(255,255,255,.3);
  }
  .widget_wrapp {
    position: relative;
    z-index: 9;

    display: inline-block;

    box-sizing: border-block;
    width: 100%;
    height: 100%;
    padding: 30px 0 10px 0;
  }
  h6 {
    font-size: 30px;

    display: inline-block;

    margin-left: 30px;

    text-transform: uppercase;

    color: #fff;
    border-bottom: 1px solid #fff;
  }
  .menu {
    .sub-menu {
      display: none;
    }
    li {
      //display: inline-block;
      margin: -1px 0 0 15px;
      padding-left: 15px;

      border-collapse: collapse;

      border-radius: 5px 0 0 5px;
      a {
        font-weight: 600;
        line-height: 1.3;

        display: inline-block;

        width: calc(100% - 25px);
        height: 66px;
        margin: 0 25px 0 0;
        padding: 15px 0 0 0;

        border-collapse: collapse;

        color: #fff;
        border-bottom: 1px solid lighten($blue, 15%);
        //border-top: 1px solid lighten($blue, 15%);
        &:hover {
          color: #fff;
          //border-bottom: 1px solid transparent;
        }
      }
      &.current_page_item {
        background: #fff;
        a {
          color: $blue;
          border-bottom: 1px solid transparent;
          //border-top: 1px solid transparent;
          &:hover {
            color: $blue;
          }
        }
        &:hover {
          background: #fff;
        }
      }
      &:hover {
        background: rgba(255,255,255,.3);
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }
}


/* CONTENT STULES */
.content_wrapp {
  width: 100%;
  p {
    margin-bottom: 30px;
  }
  ul {
    margin-bottom: 35px;
    padding-left: 20px;
    li {
      margin-bottom: 15px;
      &:before {
        position: absolute;
        z-index: 1;
        bottom: 5px;
        left: -18px;

        width: 5px;
        height: 5px;

        content: '';
        transform: rotate(45deg);

        background: $blue;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }img {
    display: inline-block;

    box-sizing: border-box;

    border: 5px solid $blue;
  }
}
.content_wrapp,
.gallery-wrapp {
  //
}

.gallery-items {
  display: block;
  float: none;

  width: 100%;

  text-align: left;
}
.gallery-item {
  display: inline-block;
  //float: left;
  overflow: hidden;

  box-sizing: border-box;
  width: 31.5%;
  height: 133px;
  margin: 30px 2.3% 0 0;
  padding: 0;

  border: 5px solid $blue;
  &:first-child {
    margin-left: 0;
  }
  &:nth-child(3n) {
    float: right;

    margin-right: 0;
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    margin-top: 0;
  }
}

.gallery-img {
  display: inline-block;

  width: auto;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  font-size: 69px;

  text-transform: uppercase;

  color: $blue;
}
.inner-title {
  line-height: 1;
}

h2 {
  font-size: 50px;
}
h3 {
  font-size: 40px;
}
//CONTENT FORM
.content_callback {
  margin: 0;
  padding: 25px 30px 20px;

  border-radius: 5px;
  background: url('../img/content-form-icon.png') no-repeat 30px -20px;
  background-color: $blue;
  .callback-title {
    display: block;
    span,
    p {
      display: inline-block;
      float: left;

      margin: 0;
      padding: 0;

      color: #fff;
    }
  }
}


.post-edit-link {
  font-size: 25px;

  display: inline-block;
  float: right;
}

.pagination {
  position: relative;

  display: block;

  width: 100%;

  text-align: center;
  .page-numbers {
    line-height: 37px;

    display: inline-block;

    width: 37px;
    height: 37px;

    text-align: center;
    vertical-align: middle;

    color: $blue;
    border-radius: 8px;
    background: darken($light-blue, 5%);
  }
  .current {
    color: #fff;
    background: $blue;
  }
  .prev,
  .next {
    position: absolute;

    width: 100px;

    color: #fff;
    background: $blue;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}

//Reviews
.review-title {
  font-weight: 600;
  font-style: italic;

  position: relative;

  margin-bottom: 10px;
  padding-left: 25px;

  text-transform: uppercase;

  color: $blue;
  &:before {
    position: absolute;
    left: 0;

    display: inline-block;

    width: 15px;
    height: 15px;

    content: '';

    background: url('../img/reviews.png') no-repeat center center;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
.review-content {
  margin-bottom: 25px;
}
.reviews-side {
  p {
    font-style: italic;
  }
}


//Akcyi
.side-stocks {
  display: inline-block;

  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid $light-blue;
  .stock-item {
    position: relative;

    display: inline-block;

    width: 100%;
    min-height: 68px;
    margin-bottom: 15px;
    padding: 15px 25px;

    border: 1px dashed $red;
    border-radius: 5px;
    p {
      text-decoration: underline;

      color: $red;
    }
    &:before {
      position: absolute;
      top: -20px;
      left: -20px;

      display: inline-block;

      width: 40px;
      height: 40px;

      content: '';

      border-radius: 50%;
      background: url('../img/red-star.png') no-repeat center center;
      background-color: #fff;
    }
  }
}
