table {
  max-width: 100%;
  margin: $small-spacing 0 0;

  table-layout: fixed;
  border-collapse: collapse;
  tbody {
    //width: 100%;
  }
  thead {
    color: #fff;
    background: $blue;
  }
  th,
  td {
    position: relative;

    height: 33px;

    text-align: center;

    border: none;
    &:first-child {
      padding-left: 20px;

      text-align: left;
    }
  }
  th {
    font-weight: 600;
    font-weight: bold;

    border-bottom: none;
  }
  td {
    //border-bottom: $base-border;
  }
}
tr,
td,
th {
  vertical-align: middle;
}
tr {
  &:nth-child(even) {
    border-top: 1px solid #daecf9;
    border-bottom: 1px solid #daecf9;
    background: $light-blue;
  }
  &:nth-child(odd) {
    border-top: 1px solid $light-blue;
    border-bottom: 1px solid $light-blue;
    background: #fff;
  }
  &:nth-child(2) {
    border-top: none;
  }
  &:first-child {
    color: #fff;
    border: none;
    background: $blue;
  }
}
