// Font Sizes
$base-font-size: 13px;
$em-base: $base-font-size;
$base-font-family: 'Open Sans Condensed', sans-serif;
$heading-font-family: $base-font-family;

// font weight
$fubold: 900; // Extra Black, Fat, Poster or Ultra Black
$fblack: 800; // Black, Extra Bold or Heavy
$fbold: 700; // Bold
$fsbold: 600; // Semibold, Demibold
$fmed: 500; //  Medium
$fnorm: 400; //  Normal or Regular
$flight: 300; // Book or Demi
$fthin: 200; // 200 Light or Thin
$fulight: 100; // 100 Extra Light or Ultra Light

// Line height
$base-line-height: 1.1;
$heading-line-height: 1.2;

// Other Sizes
$width: 1020px;
$footer: 50px;
$footer_margin: $footer - 2 * $footer;
$base-border-radius: 8px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$padiing-size: 10px;

// Colors
$orange: orange;
$red: #e74c3c;
$blue: #3498db;
$light-blue: #edf6fc;
$gray-medium: #999;
$gray-dark: #333;
$gray-light: #ddd;
$text-color: #2b3a42;

// Font Colors
$base-font-color: $text-color;
$action-color: $blue;

// Border
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Box Shadows
$base-box-shadow: 0 1px 3px rgba(#000, .06);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
$base-transition: background-color $base-duration * 5 $base-timing, color $base-duration * .7 $base-timing, opacity $base-duration * .3 $base-timing;
